<div class="container text-center my-3">
        <h2><i>Bienvenido {{name}}</i></h2>
        <br>
        <button id="desloguear" class="btn btn-dark"> Deslogear</button>
        <button class="btn btn-danger my-5" onclick="desloguear()">LOGOUT</button>
    </div>
</div>
