<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
    .img {
      width: 50px;
    }
</style>


<div class="container">
    <div class="row justify-content-md-center">
            <h1 class="pb-2 mb-4 text-danger border-bottom border-danger">Todos los productos</h1>
            <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                    {{#each productos}}
                    <tr>
                        <td>{{this.nombre}}</td>
                        <td>${{this.precio}}</td>
                        <td><img src={{this.foto}} alt="image" class="img"></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
    </div>
</div>