<nav class='d-flex justify-content-between p-3 bg-dark bg-gradient'>
  <a href='/usuarios/micuenta' class='btn btn-outline-light'>Mi cuenta</a>
  <a href='/productos' class='btn btn-outline-light'>Productos</a>
  <a href='/carrito' class='btn btn-outline-light'>Carrito</a>
  <a href='/usuarios/logout' class='btn btn-outline-light'>Salir</a>
</nav>